<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PrinterFilePath" value="/dev/usb/lp1" />
		<add key="Tempo" value="100" />
		<add key="NombreTickets" value="2" />
		<add key="AppliquerCss" value="true" />
		<add key="UseDialogForTicketPrint" value="true" />
		<add key="UsbDevicePath" value="/media/rafbor/4429-4124" />
		<add key="NomFestival" value="BD'Art" />
		<add key="LaunchBaseFile" value="true" />
		<add key="PartAuteur" value="90" />
		<add key="VenteBoxWidth" value="720" />
		<add key="VenteBoxHeight" value="470" />
 	</appSettings>
</configuration>