<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PrinterFilePath" value="/dev/usb/lp1" />
		<add key="Tempo" value="2000" />
		<add key="NombreTickets" value="2" />
		<add key="UseFgColor" value="false" />
		<add key="UseDialogForTicketPrint" value="true" />
		<add key="UsbDevicePath" value="/media/raf/4429-4124" />
 	</appSettings>
</configuration>